ul > li {
    list-style: none;
}
li > a {
    text-decoration: none;
    color: black;
}
h1 {
    text-decoration: underline;
}

.background-picture {
    position: absolute;
    z-index: -1;
}

.headerContainer {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.headerMain {
    text-align: center;
    margin-bottom: 0;
    margin-left: 2.2em;
    margin-top: 1em;
}

.headerMain > h1, h2 {
    margin-bottom: 0;
}

.headerMain > h2 {
    font-size: 1.5em;
}

.NavBar {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1rem;
    margin-right: 1.5rem;
    display: flex;
    gap: 1em;
    background-color: #7c8186;
    border-radius: 40px;
    align-items: center;
    height: 3rem;
}
.NavBar > li {
    text-align: center;
}

.FirstSectionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #cdc6be;
    height: 100vh;
}

.HeaderText {
    grid-column: 1;
}

.Portrait {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    flex: 1;
}

.Portrait > img {
    z-index: 1;
    border-radius: 360px;
    height: 375px;
}

.HeaderText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-left: 4rem;
}

.HeaderText > h1 {
    text-align: left;
    text-decoration: none;
    font-size: 75px;
    padding-top: 0;
}

.HeaderText > h2 {
    font-size: 43px;
    text-decoration: underline;
    padding-bottom: 40px;

}

.HeaderText > h1,h2 {
    font-weight: bolder;
}

.DescriptionText {
    font-size: 27px;
}

.mainSection {
    background: linear-gradient(to top, #8f8b8b, #e1dedc);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.career-journey {
    border-radius: 75px;
    background-color: #e4e4e4;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
}

.career-header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
